* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    color: #f9dc5c;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #242423;
}

/* ==================== NAV ===================== */

header {
    background-color: #f9dc5c;
}

nav {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
  }
  
  
  nav ul li {
    padding: 10px;
    background-color: #f9dc5c;
    transition: 0.5s;
  }
  
  nav ul li:hover {
    background-color: white;
    border-radius: 5px;
  }
  
  
  nav a {
    text-decoration: none;
    color: #0a0a0a;
  }
 
  /* ==================== SECCION SALUDO ===================== */

  #saludo {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0a0a0a;
    position: relative;
  }
  
  
  h1 {
    font-size: 96px;
  }
  
  
  .nombre {
    color: #d3d3d3;
    transition: 0.3s;
    position: relative;
  }
  
  
  #saludo img {
    opacity: 0;
    transition: 0.3s;
  }
  
  
  #saludo:hover img {
    opacity: 1;
  }
  
  
  #saludo:hover .nombre {
    color: #f9dc5c;
  }
  
  
  .macetitas {
    position: absolute;
    bottom: -9px;
  }
  
  
  .abejita-1 {
    transform: rotateZ(45deg);
    position: absolute;
    bottom: 120px;
    left: 100px;
  }
  
  
  .abejita-1:hover {
    transform: rotateZ(135deg);
  }
  
  
  .abejita-2 {
    transform: rotateZ(120deg);
    position: absolute;
    top: 50px;
    left: 60px;
  }
  
  
  .abejita-2:hover {
    transform: rotateZ(40deg);
  }
  
  
  .abejita-3 {
    transform: rotateZ(-45deg);
    position: absolute;
    bottom: 80px;
    right: 80px;
  }
  
  
  .abejita-3:hover {
    transform: rotateZ(-135deg);
  }
  
  
  .abejita-4 {
    transform: rotateZ(-110deg);
    position: absolute;
    top: 130px;
    right: 150px;
  }
  
  
  .abejita-4:hover {
    transform: rotateZ(-30deg);
  }
  
  
  .panal {
    position: absolute;
    top: 20px;
    right: 0px;
  }
  
  
  .abeja-con-panal {
    position: absolute;
    top: -20px;
    right: -30px;
  }

  /* ==================== SECCION INICIO ===================== */

  #inicio {
    max-width: 1400px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #242423;
    margin: 0 auto;
  }
  
  
  .inicio-contenido {
    max-width: 700px;
    height: 300px;
  }
  
  
  .inicio-contenido h2 {
    font-size: 55px;
    margin-bottom: 25px;
  }
  
  
  .inicio-contenido p {
    font-size: 24px;
    line-height: 32px;
    color: #eb6424;
    margin-bottom: 25px;
    text-align: justify;
  }
  
  
  .skills {
    font-size: 70px;
    text-align: center;
  }
  
  
  .img-inicio {
    max-width: 400px;
    width: 100%;
  }

  /* ==================== SECCION PROYECTOS ===================== */

  #proyectos {
    height: 100px;
    background-color: #f9dc5c;
  }
  
  
  #proyectos .proyecto-contenido {
    height: 100px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .proyecto-contenido h2 {
    color: #242423;
    font-size: 55px;
  }
  
  
  #proyectos p {
    color: #242423;
  }
  
  
  .proyecto {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
  }
  
  
  .proyecto h3 {
    font-size: 35px;
    text-align: center;
    margin-top: 25px;
  }
  
  
  .recetas {
    padding: 70px;
  }
  
  
  .img-recetas {
    max-width: 400px;
    border: 1px solid;
    border-radius: 25px;
    width: 100%;
  }

  /* ==================== SECCION CONTACTO ===================== */

  #contacto {
    height: 500px;
    background-color: #0a0a0a;
  }
  
  
  .columna {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
  }
  
  
  .contacto-contenido {
    max-width: 500px;
  }
  
  
  .contacto-contenido h2 {
    font-size: 55px;
    margin-bottom: 20px;
  }
  
  
  .contacto-contenido p {
    font-size: 24px;
  }
  
  
  .redes {
    margin-top: 30px;
    list-style: none;
  }
  
  
  .redes a {
    font-size: 60px;
    color: #f9dc5c;
    margin-right: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  
  .redes span {
    font-size: 28px;
  }
  
  
  .icono-redes {
    margin-right: 20px;
  }
  
  
  .fa-linkedin {
    width: 60px;
    text-align: center;
  }
  
  
  .img-contacto {
    max-width: 400px;
    width: 100%;
  }

  /* ==================== FOOTER ===================== */


  footer {
    text-align: center;
    color: #eb6424;
    padding: 10px;
  }
  